{% extends 'base.html.twig' %}

{% block title %}{{ form.vars.value.id ? 'Modifier' : 'Créer' }} une Annonce{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full max-w-4xl bg-white p-10 rounded-lg shadow-lg">
            <h1 class="text-3xl font-bold mb-6 text-center">{{ form.vars.value.id ? 'Modifier' : 'Créer' }} une Annonce</h1>

            {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}
            <input type="hidden" name="_token" value="{{ csrf_token('create_job') }}">

            <div class="flex flex-col">
                {{ form_label(form.name, 'Nom de l\'offre', {'label_attr': {'class': 'font-semibold mb-2'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'border border-gray-300 p-3 rounded focus:outline-none focus:ring focus:border-blue-300'}}) }}
                {{ form_errors(form.name) }}
            </div>

            <div class="flex flex-col">
                {{ form_label(form.label, 'Titre de l\'offre', {'label_attr': {'class': 'font-semibold mb-2'}}) }}
                {{ form_widget(form.label, {'attr': {'class': 'border border-gray-300 p-3 rounded focus:outline-none focus:ring focus:border-blue-300'}}) }}
                {{ form_errors(form.label) }}
            </div>

            <div class="flex flex-col">
                {{ form_label(form.tags, 'Tags', {'label_attr': {'class': 'font-semibold mb-2'}}) }}
                {{ form_widget(form.tags, {'attr': {'class': 'border border-gray-300 p-3 rounded focus:outline-none focus:ring focus:border-blue-300'}}) }}
                {{ form_errors(form.tags) }}
            </div>

            <div class="mt-4">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">
                    {{ form.vars.value.id ? 'Modifier' : 'Créer' }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
